<a href="https://colab.research.google.com/github/yashu996420/yashu996420/blob/main/Skill_test_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/archive (4).zip')
print(data)

                          name   mpg  cylinders  displacement  horsepower  \
0    chevrolet chevelle malibu  18.0          8         307.0       130.0
1            buick skylark 320  15.0          8         350.0       165.0
2           plymouth satellite  18.0          8         318.0       150.0
3                amc rebel sst  16.0          8         304.0       150.0
4                  ford torino  17.0          8         302.0       140.0
..                         ...   ...        ...           ...         ...
393            ford mustang gl  27.0          4         140.0        86.0
394                  vw pickup  44.0          4          97.0        52.0
395              dodge rampage  32.0          4         135.0        84.0
396                ford ranger  28.0          4         120.0        79.0
397                 chevy s-10  31.0          4         119.0        82.0

     weight  acceleration  model_year  origin
0      3504          12.0          70     usa
1      3693          11.5          70     usa
2      3436          11.0          70     usa
3      3433          12.0          70     usa
4      3449          10.5          70     usa
..      ...           ...         ...     ...
393    2790          15.6          82     usa
394    2130          24.6          82  europe
395    2295          11.6          82     usa
396    2625          18.6          82     usa
397    2720          19.4          82     usa

[398 rows x 9 columns]

In [ ]:
print(data)

                          name   mpg  cylinders  displacement  horsepower  \
0    chevrolet chevelle malibu  18.0          8         307.0       130.0
1            buick skylark 320  15.0          8         350.0       165.0
2           plymouth satellite  18.0          8         318.0       150.0
3                amc rebel sst  16.0          8         304.0       150.0
4                  ford torino  17.0          8         302.0       140.0
..                         ...   ...        ...           ...         ...
393            ford mustang gl  27.0          4         140.0        86.0
394                  vw pickup  44.0          4          97.0        52.0
395              dodge rampage  32.0          4         135.0        84.0
396                ford ranger  28.0          4         120.0        79.0
397                 chevy s-10  31.0          4         119.0        82.0

     weight  acceleration  model_year  origin
0      3504          12.0          70     usa
1      3693          11.5          70     usa
2      3436          11.0          70     usa
3      3433          12.0          70     usa
4      3449          10.5          70     usa
..      ...           ...         ...     ...
393    2790          15.6          82     usa
394    2130          24.6          82  europe
395    2295          11.6          82     usa
396    2625          18.6          82     usa
397    2720          19.4          82     usa

[398 rows x 9 columns]

In [ ]:
data1 = data.dropna()
print(data1)

                          name   mpg  cylinders  displacement  horsepower  \
0    chevrolet chevelle malibu  18.0          8         307.0       130.0
1            buick skylark 320  15.0          8         350.0       165.0
2           plymouth satellite  18.0          8         318.0       150.0
3                amc rebel sst  16.0          8         304.0       150.0
4                  ford torino  17.0          8         302.0       140.0
..                         ...   ...        ...           ...         ...
393            ford mustang gl  27.0          4         140.0        86.0
394                  vw pickup  44.0          4          97.0        52.0
395              dodge rampage  32.0          4         135.0        84.0
396                ford ranger  28.0          4         120.0        79.0
397                 chevy s-10  31.0          4         119.0        82.0

     weight  acceleration  model_year  origin
0      3504          12.0          70     usa
1      3693          11.5          70     usa
2      3436          11.0          70     usa
3      3433          12.0          70     usa
4      3449          10.5          70     usa
..      ...           ...         ...     ...
393    2790          15.6          82     usa
394    2130          24.6          82  europe
395    2295          11.6          82     usa
396    2625          18.6          82     usa
397    2720          19.4          82     usa

[392 rows x 9 columns]

In [ ]:
data2 = data.dropna(axis=1)
print(data2)

                          name   mpg  cylinders  displacement  weight  \
0    chevrolet chevelle malibu  18.0          8         307.0    3504
1            buick skylark 320  15.0          8         350.0    3693
2           plymouth satellite  18.0          8         318.0    3436
3                amc rebel sst  16.0          8         304.0    3433
4                  ford torino  17.0          8         302.0    3449
..                         ...   ...        ...           ...     ...
393            ford mustang gl  27.0          4         140.0    2790
394                  vw pickup  44.0          4          97.0    2130
395              dodge rampage  32.0          4         135.0    2295
396                ford ranger  28.0          4         120.0    2625
397                 chevy s-10  31.0          4         119.0    2720

     acceleration  model_year  origin
0            12.0          70     usa
1            11.5          70     usa
2            11.0          70     usa
3            12.0          70     usa
4            10.5          70     usa
..            ...         ...     ...
393          15.6          82     usa
394          24.6          82  europe
395          11.6          82     usa
396          18.6          82     usa
397          19.4          82     usa

[398 rows x 8 columns]

In [ ]:
data2 = data.dropna(axis=1)
print(data2)

                          name   mpg  cylinders  displacement  weight  \
0    chevrolet chevelle malibu  18.0          8         307.0    3504
1            buick skylark 320  15.0          8         350.0    3693
2           plymouth satellite  18.0          8         318.0    3436
3                amc rebel sst  16.0          8         304.0    3433
4                  ford torino  17.0          8         302.0    3449
..                         ...   ...        ...           ...     ...
393            ford mustang gl  27.0          4         140.0    2790
394                  vw pickup  44.0          4          97.0    2130
395              dodge rampage  32.0          4         135.0    2295
396                ford ranger  28.0          4         120.0    2625
397                 chevy s-10  31.0          4         119.0    2720

     acceleration  model_year  origin
0            12.0          70     usa
1            11.5          70     usa
2            11.0          70     usa
3            12.0          70     usa
4            10.5          70     usa
..            ...         ...     ...
393          15.6          82     usa
394          24.6          82  europe
395          11.6          82     usa
396          18.6          82     usa
397          19.4          82     usa

[398 rows x 8 columns]

In [ ]:
data3 = data.fillna(data.mean())
print(data3)

                          name   mpg  cylinders  displacement  horsepower  \
0    chevrolet chevelle malibu  18.0          8         307.0       130.0
1            buick skylark 320  15.0          8         350.0       165.0
2           plymouth satellite  18.0          8         318.0       150.0
3                amc rebel sst  16.0          8         304.0       150.0
4                  ford torino  17.0          8         302.0       140.0
..                         ...   ...        ...           ...         ...
393            ford mustang gl  27.0          4         140.0        86.0
394                  vw pickup  44.0          4          97.0        52.0
395              dodge rampage  32.0          4         135.0        84.0
396                ford ranger  28.0          4         120.0        79.0
397                 chevy s-10  31.0          4         119.0        82.0

     weight  acceleration  model_year  origin
0      3504          12.0          70     usa
1      3693          11.5          70     usa
2      3436          11.0          70     usa
3      3433          12.0          70     usa
4      3449          10.5          70     usa
..      ...           ...         ...     ...
393    2790          15.6          82     usa
394    2130          24.6          82  europe
395    2295          11.6          82     usa
396    2625          18.6          82     usa
397    2720          19.4          82     usa

[398 rows x 9 columns]

<ipython-input-46-26fed08408fc>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data3 = data.fillna(data.mean())

In [ ]:
import pandas as pd
df=pd.read_csv("/content/archive (4).zip")
z_scores=(df-df.mean())/df.std()
outliers=df[abs(z_scores)>3]
print("univariate outliers:", outliers)

univariate outliers:     name  mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    NaN  NaN        NaN           NaN         NaN     NaN           NaN
1    NaN  NaN        NaN           NaN         NaN     NaN           NaN
2    NaN  NaN        NaN           NaN         NaN     NaN           NaN
3    NaN  NaN        NaN           NaN         NaN     NaN           NaN
4    NaN  NaN        NaN           NaN         NaN     NaN           NaN
..   ...  ...        ...           ...         ...     ...           ...
393  NaN  NaN        NaN           NaN         NaN     NaN           NaN
394  NaN  NaN        NaN           NaN         NaN     NaN          24.6
395  NaN  NaN        NaN           NaN         NaN     NaN           NaN
396  NaN  NaN        NaN           NaN         NaN     NaN           NaN
397  NaN  NaN        NaN           NaN         NaN     NaN           NaN

     model_year origin
0           NaN    NaN
1           NaN    NaN
2           NaN    NaN
3           NaN    NaN
4           NaN    NaN
..          ...    ...
393         NaN    NaN
394         NaN    NaN
395         NaN    NaN
396         NaN    NaN
397         NaN    NaN

[398 rows x 9 columns]

<ipython-input-53-2d55e64476d9>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  z_scores=(df-df.mean())/df.std()
<ipython-input-53-2d55e64476d9>:3: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  z_scores=(df-df.mean())/df.std()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv("/content/archive (4).zip")

In [ ]:
data.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

In [ ]:
data.tail()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
393,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
394,vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
395,dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
396,ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
397,chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [ ]:
data. info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    392 non-null    float64
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
#data duplicate function
data.nunique()

name            305
mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model_year       13
origin            3
dtype: int64

In [ ]:
#missing value function
data.isnull().sum()

name            0
mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [ ]:
#replacementimport pandas as pd
data = pd.DataFrame({'name': ['ford torino', 'amc rebel sst']})
print("Original data:")
print(data)
data['name'].replace({'ford torino': 'ford'}, inplace=True)
print("\nModified data:")
print(data)

Original data:
            name
0    ford torino
1  amc rebel sst

Modified data:
            name
0           ford
1  amc rebel sst

In [ ]:
#is null().sum()
(data. isnull().sum()/(len(data)))*100

name    0.0
dtype: float64

In [ ]:
 #drop function
data=data. drop(['name'], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Empty DataFrame